@import "../helpers/mixins";

.btn-add-cart{
  @include button-bg(red);
  float: right;
  display: inline-block;
}

.btn-notify{
  @include button-bg(purple);
  float:right;
  display: inline-block;
  margin-right: 15px;
}

#notifications{
  height: auto;
  #messages > div{
    margin-top:5px;
    padding: 15px;
    font-weight: bold;
    background: rgba(11, 255, 28, 0.36);
    border-radius: 3px;
    font-size: 1em;
  }
}

.container--icons-actions-product{
  margin-top:10px;
}

.container--product-detail{
  display: inline-block;
}


