@import "../helpers/mixins";

.btn_add_cart{
  @include button-bg(purple);
  float: right;
  display: inline-block;
}

.btn_notify{
  @include button-bg(red);
  float:right;
  display: inline-block;
  margin-right: 15px;
}

.notifications{
  height: auto;
  .messages > div{
    margin-top:5px;
    padding: 15px;
    font-weight: bold;
    background: rgba(255, 175, 14, 0.36);
    border-radius: 3px;
    font-size: 1em;
    font-family:'Conv_trade-gothic-light-1361519975',Sans-Serif;
  }
}

.container__icons_actions_product{
  margin-top:10px;
  @include mobile{
    margin-top: 20px;
  }
}

.container__product_detail{
  display: inline-block;
  .item_name,.item_price{
    display: inline-block;
  }
  .item_price{
    float: right;
  }
}




