@import '../helpers/mixins';

header {
  width: 100%;
  margin-left:-15px;
  margin-right: -15px;
  ul{
    list-style: none;
    display: inline-block;
    li {
      display: inline-block;
      margin: 0 3px 0 3px;
    }
  }
}

.menu--container{

  @include mobile{
    height: 50px;
  }

  @include tablet{
    height: 60px;
  }

  @include desktop{
    height: 60px;
  }

  .menu--subcontainer{

    position: absolute;
    top: 0;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #c7c4c4;
    @include flexbox;

    &.menu--fixed{
      position: fixed;
      top: 0;
      z-index: 999;
    }

    .menu--items{
      margin: 0 auto;
      text-transform: uppercase;

      @include mobile{
        width: 90%;
      }

      @include tablet{
        width: 730px;
      }

      @include desktop{
        width: 900px;
      }

      .menu--logo{
        font-size: 16px;
        font-weight: bolder;
        @include mobile{
          text-align: center;
          font-size: 17px;
        }
      }
      .menu--links-top{
        @include gt-mobile{
          display: inline-block;
          a:hover{
            padding-bottom: 5px;
            border-bottom: 1px solid gray;
          }
        }
        @include mobile{
          display: none;
        }
      }
      .menu--hamburger{
        display: none;
        float: left;
        padding-left: 0;
        @include mobile{
          display: inline-block;
        }
        .menu--hamburger--icon,.menu--hamburger-close--icon{
          height: 18px;
        }
        .menu--hamburger-close--icon{
          display: none;
          margin-left: -5px;
        }

      }
      .menu--shopping-cart{
        float:right;
        cursor: pointer;
        &:focus{
          outline: none;
        }
        &:hover{
          opacity: 0.7;
        }
        @include mobile{
          padding-left: 0;
        }
        .menu--shopping-cart--icon{
          height: 18px;
        }
        .menu--shopping-cart--items-cart{
          position: relative;
          bottom: 3px;
          margin-left: 5px;
          display: none;
        }
      }

    }
  }

  .menu--items-mobile{
    margin-top: 55px;
    margin-right: -30px;
    border-bottom: 1px solid #ccc;
    background: rgba(128, 128, 128, 0.06);
    display: none;
    text-transform: uppercase;
    &.is-expanded{
      @include mobile{
        display: block;
      }
    }
    li{
      display: block;
      margin: 10px auto 10px auto;
    }

  }

}