{% extends 'base.html.twig' %}
{% block title %}Home - Product Sample Detail{% endblock %}
{% block body %}

    <div class="notifications">
        <div class="messages"></div>
    </div>

    <div class="container__icons_actions_product">
        <div id="addtocart" class="btn_add_cart" >Add Product to cart</div>
        <div class="btn_notify" id="notify">Notify!</div>
    </div>

    <div class="container__product_detail">
        <h1 class="item_name">Nike Air Mag</h1>
        <h1 class="item_price">400 PLN</h1>
        <div>
            <img width="100%" src="{{ asset('bundles/app/img/product-1.jpg') }}">
        </div>
        <p>Nike Air Mag, featuring durable foam midsole with a max air unit in the heel for maximum impact protection, premium leather upper for comfort and durability. One of the greatest Nike silhouettes of all time, the Air Mag returns in a strong new colourway for 2016.</p>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
