@import 'helpers/mixins';
@import 'helpers/fonts';
@import 'helpers/common';
@import 'views/menu';
@import 'views/home';

header,footer,h1{
  font-family:'Conv_trade-gothic-no-2-bold-1361519963 2',Sans-Serif;
}

html{
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -ms-user-select: none;
}

body{
  margin:0 15px 0 15px;
}

a{
  color:black;
  text-decoration: none;
}

article,.footer--container{
  margin: 0 auto;

  @include mobile{
    width: 90%;
  }

  @include tablet{
    width: 730px;
  }

  @include desktop{
    width: 900px;
  }
}

article{
  @include mobile{
    margin-top: 25px;
    &.menu-expanded{
      margin-top: 115px;
    }
  }
}

footer {
  height: 55px;
  margin: 25px -15px 0 -15px;
  border-top: 1px solid #c7c4c4;
  
  .footer--container{
    .footer--copyright{
      display: inline-block;
      margin-top: 20px;
    }
    .footer--icons-social-media{
      display: inline;
      cursor: pointer;
      float:right;
    }
  }
}
